<form method="GET" action="/search">

    Search:
    <input type="text" name="q" id="q"size="40" 
        placeholder="Enter the App name">

    <div>
        <button type="submit">SEARCH</button>
    </div>

</form>